@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { 
    font-family: 'Montserrat', sans-serif; 
    background-color: antiquewhite;
}

h1, h2 { text-align: center; }
p { text-indent: 30px; text-align: justify; }

header {
    border: 1px solid #808080;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background-color: #808080;
}

footer {
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #A9A9A9;
}