/*
 *    Eagle Style
 */

body {
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

/* Artigos */
article {
    border-bottom: 1px solid #000;
    height: 800px;
}

/* Estilização de texto */
h1, h2, h3, h4, h5, h6 { text-align: center; }
