<!DOCTYPE html>
<html lang="pt-br" ng-app="eagleStore" ng-controller="eagleStoreCtrl">
    <head>
        <meta charset="utf-8"/>

        <title>Eagle Store</title>


        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="../node_modules/highlightjs/styles/dark.css">
        <link rel="stylesheet" href="css/estilo.css">

        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/highlightjs/highlight.pack.js"></script>
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/jquery.js"></script>
        

    </head>
    <body>
        <script>hljs.initHighlightingOnLoad();</script>
        <script>$(document).ready(() => { $("#tabs").tabs(); });</script>
        <script>$(document).ready(() => { $("#accordion").accordion(); });</script>
        <header>
            <hgroup>
                <h1 ng-bind="titulo"></h1>
                <h2 ng-bind="subtitulo"></h2>
            </hgroup>
        </header>

        <section id="tabs">
            <ul>
                <li><a href="#tab-bem-vindo" ng-click="trocarSubtitulo('Seja Bem-vindo!')">Seja Bem-vindo!</a></li>
                <li><a href="#tab-snap" ng-click="trocarSubtitulo('Pacotes Snap')">Pacotes Snap</a></li>
                <li><a href="#tab-flatpak" ng-click="trocarSubtitulo('Pacotes Flatpak')">Pacotes Flatpak</a></li>
                <li><a href="#tab-shell-script" ng-click="trocarSubtitulo('Shell Script')">Shell Script</a></li>
                <li><a href="#tab-store" ng-click="trocarSubtitulo('Store')">Store</a></li>
                <li><a href="#tab-sobre" ng-click="trocarSubtitulo('Sobre')">Sobre</a></li>
            </ul>
            <article ng-disabled="true" id="tab-bem-vindo">
                <h3>Seja bem-vindo!</h3>
                <p>Olá usuáro, este é a Eagle Store!</p>
                <p>Esta loja de aplicativos foi criada para facilitar o encontro de aplicativos para linux de uma maneira rapida e facil.</p>
                <p>Nos baseamos em duas ferramentas chamadas:</p>
                <ol>
                    <li>Pacotes Snap</li>
                    <li>Pacotes Flatpak</li>
                </ol>                
                <p>Clique na próxima aba para saber mais sobre os pacotes snap!</p>
            </article>
            <article ng-disabled="true" id="tab-snap">
                    <h3>Pacotes Snap</h3>
                    <p>Pacotes snap são programas que são baixados e instalados via linha de comando e que são instalados em qualquer distro que possua soporte ao snap.</p>
                    <p>Para saber se sua distro ja vem com os pacotes instalados diretamente digite o comando:</p>
                    <pre><code class="shell">$ snap --version</code></pre>
                    <p>Caso não apareça uma mensagem como essa:</p>
                    <pre><code class="shell">$ snap --version
    snap    2.38.1
    snapd   2.38.1
    series  16
    ubuntu  18.04
    kernel  4.18.0-18-generic
    $ </code></pre>
                    <p> Caso não apareça instale com o comando, conforme sua distro: </p>
                    <ul>
                        <li>
                            <p>Ubuntu e derivados:</p>
                            <pre><code class="shell">$ sudo apt update 
    $ sudo apt install snapd -y</code></pre>
                        </li>
                        <li>
                            <p>Arch e derivados:</p>
                            <pre><code class="shell">$ git clone https://aur.archlinux.org/snapd.git
    $ cd snapd
    $ makepkg -si
    $ sudo systemctl enable --now snapd.socket
    $ sudo ln -s /var/lib/snapd/snap /snap</code></pre>
                        </li>
                        <li>
                            <p>Manjaro:</p>
                            <pre><code class="shell">$ sudo pacman -S snapd
    $ sudo systemctl enable --now snapd.socket
    $ sudo ln -s /var/lib/snapd/snap /snap</code></pre>
                        </li>
                        <li>
                            <p>CentOS e derivados:</p>
                            <pre><code class="shell">$ sudo yum install epel-release
    $ sudo yum install snapd
    $ sudo systemctl enable --now snapd.socket
    $ sudo ln -s /var/lib/snapd/snap /snap</code></pre>
                        </li>
                        <li>
                            <p>Fedora e derivados: </p>
                            <pre><code class="shell">$ sudo dnf install snapd
    $ sudo ln -s /var/lib/snapd/snap /snap</code></pre>
                        </li>
                        <li>
                            <p>OpenSUSE</p>
                            <pre><code class="shell">$ sudo zypper addrepo --refresh 
    https://download.opensuse.org/repositories/system:/snappy/openSUSE_Leap_15.0 snappy
    ...
    Repository 'snappy' successfully added
    $ sudo zypper --gpg-auto-import-keys refresh
    $ sudo zypper dup --from snappy
    $ sudo zypper install snapd
    $ sudo systemctl enable snapd   
    $ sudo systemctl start snapd
    $ sudo systemctl enable snapd.apparmor
    $ sudo systemctl start snapd.apparmor
    $ sudo zypper removerepo snappy
    $ sudo zypper addrepo --refresh 
    https://download.opensuse.org/repositories/system:/snappy/openSUSE_Leap_15.0 snappy</code></pre>
                        </li>
                        <li>
                            <p>Solus Os:</p>
                            <pre><code class="shell">$ sudo eopkg up
    $ sudo eopkg install snapd</code></pre>
                        </li>
                    </ul>
                    <p>Para ver sobre os pacotes Flatpak va para a próxima aba!</p>
                </article>
                
                <article ng-disabled="true" id="tab-flatpak">
                    <h3>Pacotes Flatpak</h3>
                    <p>Pacotes Flatpak são programas que são baixados e instalados via linha de comando e que são instalados em qualquer distro que possua soporte ao snap.</p>
                    <p>Para saber se sua distro ja vem com os pacotes instalados diretamente digite o comando:</p>
                    <pre><code class="shell">$ flatpak --version</code></pre>
                    <p>Caso não apareça uma mensagem como essa:</p>
                    <pre><code class="shell">$ flatpak --version
    Flatpak 1.0.8
    $ </code></pre> 
                    <p> Caso não apareça instale com o comando, conforme sua distro: </p>
                    <ul>
                        <li>
                            <p>Ubuntu e derivados:</p>
                            <pre><code class="shell">$ sudo add-apt-repository ppa:alexlarsson/flatpak
    $ sudo apt update
    $ sudo apt install flatpak
    $ sudo apt install gnome-software-plugin-flatpak
    $ flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    $ reboot</code></pre>
                        </li>
                        <li>
                            <p>Redhat e baseados:</p>
                            <pre><code class="shell">$ sudo yum install flatpak
    $ flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    $ reboot</code></pre>
                        </li>
                        <li>
                            <p>Fedora e derivados:</p>
                            <pre><code class="shell">$ flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    $ reboot</code></pre>
                        </li>
                        <li>
                            <p>OpenSUSE e derivados:</p>
                            <pre><code class="shell">$ sudo zypper install flatpak
    $ flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    $ reboot</code></pre>
                        </li>
                        <li>
                            <p>Arch e baseado:</p>
                            <pre><code class="shell">$ sudo pacman -S flatpak
    $ reboot</code></pre>
                        </li>
                    </ul>
                    <p> Va para a próxima aba e veja o que é e alguns scripts.</p>
                </article>
                
                <article ng-disabled="true" id="tab-shell-script" >
                    <h3>Shell Script</h3>
                    <p>Shell Script é uma linguagem de programação baseada nos comandos de linux, e assim, com um simples arquivo com comandos e as estruturas básicas de uma linguagem de programação (if, while, for...).</p>
                    <p>Teremos também scripts feitos por nos para automatizar instalações.</p>
                    <p>Veja os escripts criados por nos:</p>
                    <div id="accordion">
                        <h3>Instalador para desenvolvedores</h3>
                        <div>
                            <pre><code class="bash">#!/bin/bash

zenity --info 	\
    --title="Iniciando" \
    --text="Olá, iniciando o instalador!" \
    --width=250 \
    --height=30

lista=$(zenity --list \
    --title="Programas" \
    --text="Selecione os programas:" \
    --column="Selecione" --column="Programa" \
    false "PyCharm Community" \
    false "Atom" \
    false "Notepad++" \
    false "Android Studio" \
    false "Php Storm" \
    false "Eclipse" \
    false "PyCharm Pro" \
    false "IDEA Community" \
    false "Notpadqq" \
    false "Brackets" \
    false "IDEA Community" \
    false "Webstorm" \
    --checklist)

if [ -z "$lista" ]; then
    zenity 	--error \
        --title="Alerta!" \
        --text="Nenhum item selecionado!" \
        --width=250 \
            --height=30
    exit 1
fi

comando=""
IFS="|"; for programa in lista ; do
    case $programa in
        "PyCharm Community") comando="${comando} \n sudo snap install pycharm-community"  ;;
        "Atom") comando="${comando} \n sudo snap install atom" ;;
        "Notepad++") comando="${comando} \n sudo snap install notepad-plus-plus" ;;
        "Android Studio") comando="${comando} \n sudo snap install android-studio" ;;
        "Php Storm") comando="${comando} \n sudo snap install phpstorm" ;;
        "Eclipse") comando="${comando} \n sudo snap install eclipse" ;;
        "PyCharm Pro") comando="${comando} \n sudo snap install pycharm-professional" ;;
        "IDEA Community") comando="${comando} \n sudo snap install intellij-idea-community" ;;
        "Notpadqq") comando="${comando} \n sudo snap install notepadqq" ;;
        "Brackets") comando="${comando} \n sudo snap install brackets" ;;
        "IDEA Community") comando="${comando} \n sudo snap install intellij-idea-ultimate" ;;
        "Webstorm") comando="${comando} \n sudo snap install webstorm" ;;
    esac
done

zenity --info 	\
    --title="Comando" \
    --text="$comando" \
    --width=250 \
    --height=30</code></pre>
                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>   
                        <h3></h3>
                        <div>

                        </div>    
                    </div>
                </article>

                <article ng-disabled="true" id="tab-store">
                    <h3>Store</h3>
                    <p>Escolha qual tipo de pacote deseja baixar:</p>
                                        
                </article>


                <article ng-disabled="true" id="tab-sobre">
                    <h3>Sobre</h3>
                    <p>A Eagle Store foi criada por:</p>
                    <ul>
                        <li>
                            Gustavo Leão Nogueira de Oliveira
                            <ul>
                                <li><a href="https://www.facebook.com/gustavo.leao.716">Facebook</a></li>
                                <li><a href="mailto:gustavo.leao.nogueira.2017@gmail.com">Email</a></li>
                                <li><a href="https://wa.me/55051985309446">Whatsapp</a></li>
                                <li><a href="https://www.linkedin.com/in/gustavo-le%C3%A3o-nogueira-de-oliveira-576199b5/">Linkedin</a></li>
                            </ul>
                        </li>
                        <li>
                            Nicolas Machado Flores
                            <ul>
                                <li><a href="https://www.facebook.com/nicolas.flores.75">Facebook</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p>Este projeto foi criado com as seguintes ferramentas:</p>
                    <ul>
                        <li><a href="https://angularjs.org/">Angular.js</a></li> 
                        <li><a href="https://www.json.org/json-pt.html">Json</a></li> 
                        <li><a href="https://jquery.com/">Jquery</a></li> 
                        <li><a href="https://www.w3schools.com/css/">Css 3</a></li> 
                        <li><a href="https://www.w3schools.com/html/">Html 5</a></li> 
                        <li><a href="https://www.w3schools.com/js/">Java Script</a></li> 
                        <li><a href="https://nodejs.org/en/">Node.js</a></li> 
                        <li><a href="https://highlightjs.org/">Highlight.Js</a></li> 
                        <li><a href="https://sass-lang.com/">Sass</a></li>
                        <li><a href="https://gulpjs.com/">Gulp</a></li>
                    </ul> 
                </article>
        </section>

        <footer>
            <p> &copy; Criado por Gustavo Leão e  Nicolas </p>
        </footer>

    </body>
</html>